@import url(/styles/reset.css);


.body {
    background-color: rgb(51, 50, 50);
    font-family: 'Space Grotesk', sans-serif;
}
.header-cabecario {
    display: flex;
    justify-content: center;
    
}
.header-menu {
    font-family: 'Teko', sans-serif;
    text-decoration: none;
    margin: 1em;
    font-size: 2em;
    color: white;
}
a:hover {
    color: rgb(84, 185, 253);
}
.nome {
    color: rgb(84, 185, 253);
}

.principal {
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
    
}
.principal-conteudo {
    box-sizing: border-box;
    width: 600px;
    height: 300px;
}
.redes-sociais {
    display: flex;
    justify-content: center;
    margin: 2em 0em;
    
}

.links-redes {
    display: flex;
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    border: 3px solid rgb(38, 104, 148);
    font-size: 1em;
    padding: 20px;
    margin: 5px;
    width: 50%;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border-radius: 10px
}
.titulo-nome{
    font-family: 'Teko', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 1000;
    text-align: center;
}
.sobre-min {
    font-family: 'Space Grotesk', sans-serif;
    color: white;

}
.titulo-tecnologias {
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(84, 185, 253);
    display: flex;
    justify-content: center;
    margin: 2em 2em;
}
.icons {
    display: flex;
    flex-direction: row;
    
    
}
.tecnologias-usadas {
    display: block;
    text-align: center;
}
.imagem {
    display: flex;
    margin-left: 10em;
}
.tecnologias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.tecnologias-icons {
    display: flex;
    gap: 100px;
}

